In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\VICTUS\OneDrive\Desktop\parent\Machine learning and data science\datasets\Housing.csv")

1.What is the objective of this project?

The objective is to predict the price of the house based on various features. The data set already contains data where house prices are mentioned for a set of houses. Now, to predict the price of a new house, we train a model and find its price based on its understanding and analysis of previous data from the dataset.

2.What is the target variable (what am I predicting)?

Iam predicting the price variable.

3.What kind of ML problem is this? (classification/regression/…)

This is a regression problem where i predict the price of a house based on various features.

4.Who would use this model in the real world?

This would be useful for people trying to find the price of a house when they want to buy one. Rather than just believing the price fixed by the real estate agent or the previous owner, we can determine the price ourselves that is right for its amenities. Real estate agents can also find and decide the right price for the property .

5.What could go wrong if predictions are inaccurate?

If the predictions go wrong then the price for the house is not reliable. Prices would go up and down not based on the features rightly but incoorectly .

In [13]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [15]:
df.shape

(545, 13)

In [17]:
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [19]:
df['price'].describe()

count    5.450000e+02
mean     4.766729e+06
std      1.870440e+06
min      1.750000e+06
25%      3.430000e+06
50%      4.340000e+06
75%      5.740000e+06
max      1.330000e+07
Name: price, dtype: float64

In [21]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [23]:
df['price'].describe()

count        545.00
mean     4766729.25
std      1870439.62
min      1750000.00
25%      3430000.00
50%      4340000.00
75%      5740000.00
max     13300000.00
Name: price, dtype: float64

In [25]:
df.dtypes.value_counts()

object    7
int64     6
Name: count, dtype: int64

In [35]:
df.select_dtypes('object').columns

Index(['mainroad', 'guestroom', 'basement', 'hotwaterheating',
       'airconditioning', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [37]:
df.select_dtypes('int').columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'parking'], dtype='object')

In [41]:
missing = df.isnull().sum()
print(missing)

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [45]:
missing[missing > 0].sort_values(ascending = False)

Series([], dtype: int64)

In [49]:
df[['parking','area']].describe()

       parking     area
count   545.00   545.00
mean      0.69  5150.54
std       0.86  2170.14
min       0.00  1650.00
25%       0.00  3600.00
50%       0.00  4600.00
75%       1.00  6360.00
max       3.00 16200.00

In [51]:
df[['area','price']].head()

   area     price
0  7420  13300000
1  8960  12250000
2  9960  12250000
3  7500  12215000
4  7420  11410000

When area increases, do I expect price to increase?

Generally yes.

Could there be cases where large area ≠ high price? Why?

yes , because there can be other factors affecting the price .

“Today I learned that ML starts with understanding data, not algorithms.”